.food-details {
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}
.food-suggestion-wrapper {
  text-align: left;
  width: 50%;
}
.food-suggestion-wrapper ul {
  padding-left: 0;
}
.food-suggestion {
  border-radius: 10px;
  list-style-type: none;
  list-style-position: outside;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.3);
}
.food-yes {
  background-color: rgba(0, 128, 0, 0.5);
}
.food-no {
  background-color: rgba(255, 0, 0, 0.5);
}
